.user-detail-component{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 3% 0;

  .online-status{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    align-self: flex-start;
    margin: 0.8% 2% 0.8% 0;

    &.online {
      background: #7ac943;
    }

    &.offline {
      background: #ff1d25;
    }
  }

  .user-details {
    font-size: 1rem;
    *{
      line-height: 1.4rem;
      letter-spacing: 0.5px;
    }
    .user-name {
      h4{
        margin: 0;
      }
    }
    .user-role,
    .user-id {
      color: #898989;
    }
  }

  .logo {
    display: flex;
    align-self: flex-start;
    img {
      height: 40px;
      
    }
  }
}