.connect-component{
  width: 43.4%;
  height: 100vh;
  padding: 2.1vh 3vw 2.1vh 4.24vw;
  background: #EAF2F9;
  border-radius: 50px 0px 0px 50px;

  .search{
    position: relative;
    width: 100%;
    input{
      width: 100%;
      background: transparent;
      border-radius: 3vw;
      padding: 1.7vh 2.6vw 1.7vh 1.32vw;
      outline: none;
      border: 1px solid #898989;
    }

    .search-icon{
      position: absolute;
      right: 1vw;
      top: 1.5vh;
      color: #1FAD9C;
      font-size: 1.3rem;
    }
  }

  .dropdown-menu{
    width: 20.38vw;
    min-height: 8.4vh;
    margin: 3.43vh 0 5.65vh 0;
    
    select{
      width: 100%;
      padding: 2.3vh 1.32vw;
      border: 1px solid #707070;
      border-radius: 1vh;
      outline: none;
      font-size: 1rem;
      color: #222831;

      option{
        color: black;
      }
    }
  }

  .scrollable-content{
    overflow-y: scroll;
    height: 45vh;
  }
}