.common-header{
  display: flex;
  justify-content: space-between;
  height: 52px;
  margin-bottom: 60px;
  *{
    margin: 0;
    padding: 0;
  }

  h3{
    color: #0755AA;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  img{
    height: 45px;
  }
}