.common-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  *{
    margin: 0;
    padding: 0;
  }

  h3{
    color: #0755AA;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}