.user-call-history-component{
  display: flex;
  padding: 3.6vh 0;
  border-bottom: 1px solid #E5E5E5;

  &:first-of-type{
    padding-top: 0;
  }
  font-size: 1rem;
  *{
    line-height: 1.4rem;
    letter-spacing: 0.5px;
  }
    h4, p{
      margin: 0;
    }
  p {
    color: #898989;
  }

  .group-1, .group-2
  {
    display: flex;
  }

  .group-1{
    img{
      height: 30px;
      margin-right: 2.3vw;
    }
  }

  .group-2{
    width: 24.5vw;
    justify-content: space-between;
    align-self: flex-end;
    height: max-content;
    img{
      height: 40px;
    }

    .x-stream{
      width: 100px;
    }
  }
}