.user-call-history-component{
  display: flex;
  margin: 3% 0;
  border-bottom: 1px solid #E5E5E5;

  &:first-of-type{
    margin-top: 0;
  }
  font-size: 1rem;
  *{
    line-height: 1.4rem;
    letter-spacing: 0.5px;
  }
    h4, p{
      margin: 0;
    }
  p {
    color: #898989;
  }

  .group-1, .group-2
  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  .group-1{
    min-width: 35%;
    img{
      height: 30px;
    }

    .details{
      min-width: 135px;
    }
  }

  .group-2{
    min-width: 50%;
    align-items: flex-end;
    img{
      height: 40px;
    }

    .x-stream{
      width: 100px;
    }
  }
}